@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.success-toast {
  position: fixed;
  top: 20px;
  right: -3000px; 
  color:white;
  padding: 13px 35px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 500;
  transition: right 0.5s ease; 
  z-index: 999;
}

.success-toast.show {
  right:20px;
}
